createdAt: "2019-10-29T18:13:06.402Z"
updatedAt: "2019-10-29T18:13:20.014Z"
type: "SNIPPET_NOTE"
folder: "5b2b0f59f8372c62e7fc"
title: ""
tags: []
description: ""
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: null
    content: ""
  }
]
isStarred: false
isTrashed: true
