createdAt: "2020-07-23T15:48:24.851Z"
updatedAt: "2020-08-10T21:07:33.586Z"
type: "MARKDOWN_NOTE"
folder: "aa4933591feb7023b3b6"
title: "Module 11: Monopolistic Competition"
tags: []
content: '''
  # Module 11: Monopolistic Competition
  
  A market structure in which a large number of firms compete
  
  1. each firm has a small share of the market
  2. No firm can dictate market conditions
  3. Collusion between all firms is not viable, so in general it isn't viable.
  4. Firms are independent of each other
  
  !!! abstract Collusion
  The illegal cooperation of conspiracy to cheat or deceive others. It can occur when firms restric output in order to set the price higher than the equilibrium price.
  !!!
  
  It's too challenging to coordinate collusion between many firms.
  
  In a monopolistic competitive market, each firm produces **differentiated product**. 
  This is a **key feature**, because it means that no demand is perfectly elastic, and **the firms are not price takers**. There often isn't that much price competition, more product competition and marketing competition.
  
  The differences can be actual differences, or simply perceived differences. Apple vs Samsung lmao. Apple phones aren't actually better, but people are convinced.
  
  Ketchup is a Monopolistic Competitive market.
  
  So obiously, **advertising** is a big deal.
  
  Product differentiation lets firms compete in three areas:
  * Quality
  * Price
  * Marketing
  
  GUCCI baby. Marketing and quality have a lot of influence.
  
  Monopolistic competition allows firms to enter and exit the market "freely". It's not free, but there isn't much barrier to entry.
  
  ![881458f0.png](:storage/1b753bcd-6765-4f7e-9237-6875494c77f3/881458f0.png)
  
  Just like in perfect competition, there is no economic profit to be had in the long run. 
  
  ---
  
  ### The firm's short-run output and price decision
  
  The firm outputs at $MR = MC$.
  
  Price is determined frome the demand for the firm's product and is the highest price that the firm can charge for the profit-maximizing quantity.
  
  
  ![6d1bb2bc.png](:storage/1b753bcd-6765-4f7e-9237-6875494c77f3/6d1bb2bc.png)
  
  There could also be a loss:
  ![8ac69b85.png](:storage/1b753bcd-6765-4f7e-9237-6875494c77f3/8ac69b85.png)
  
  But remember, in the long run, economic profit produces entry. So, eventually there will be zero economic profit.
  
  ![f6da0c65.png](:storage/1b753bcd-6765-4f7e-9237-6875494c77f3/f6da0c65.png)
  
  So the key differences between monopolistic competition and perfect competition:
  * Excess capacity - if it produces less quantity at which $ATC$ is a minimum.
  * Markup = the amount by which its price exceeds its marginal cost.
  
  In the long-run, firms produce less than the **efficient scale**, which is the quantity at which $ATC$ is a minimum.
  
  They operate at **excess capacity**, because it maximizes profit.
  
  
  ![193eebeb.png](:storage/1b753bcd-6765-4f7e-9237-6875494c77f3/193eebeb.png)
  
  In contrast, firms in perfect competition have no excess capacity or markup:
  
  ![dcee7353.png](:storage/1b753bcd-6765-4f7e-9237-6875494c77f3/dcee7353.png)
  
  This means that **monopolistic competition is not economically efficent** because the firms produce less than the efficient quantity.
  
  The markup arises from product differentiation.
  People value product variety, but it costs them more. Socially, the loss that arises excess capacity is offset by the gain that arises from having more product variety.
  
  ---
  
  ## Product Development and Marketing
  
  To keep making economic profit, a firm must be in a state of continuous product development. This allows the firm to gain a competitive edge, if only temporary.
  Innovation is costly, but it increases total revenue.
  Of course, firms pursue R&D until the marginal revenue from innovation equals the marginal cost of innovation.
  
  The amount of product development is efficient if the marginal social benefit (amount the consumer is willing to pay for the innovation) from the innovation equals the marginal social cost that the firms incur to make the innovation.
  
  ### Advertising
  
  Advertising a product increases cost, and changes demand (hopefully increasing it).
  
  ![b6c2ce90.png](:storage/1b753bcd-6765-4f7e-9237-6875494c77f3/b6c2ce90.png)
  
  So the change in demand can actually cause lower costs, because the firm can witness economies of scale.
  
  However, advertising may also shrink markup. The below graphs show this, before and after advertising:
  ![b0c3b1f4.png](:storage/1b753bcd-6765-4f7e-9237-6875494c77f3/b0c3b1f4.png)
  
  ![da32ba62.png](:storage/1b753bcd-6765-4f7e-9237-6875494c77f3/da32ba62.png)
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
