createdAt: "2020-11-04T13:09:17.556Z"
updatedAt: "2020-11-17T13:57:18.163Z"
type: "MARKDOWN_NOTE"
folder: "d16742818e07923e909e"
title: "BUZZ WORDS"
tags: []
content: '''
  # BUZZ WORDS
  
  ## Sparsity
  Sparsity is shown to be good because it can save computational resources, facilitate explainability, and prevent overfitting.
'''
linesHighlighted: []
isStarred: false
isTrashed: false
