createdAt: "2020-10-22T12:26:06.320Z"
updatedAt: "2020-10-22T12:26:30.479Z"
type: "MARKDOWN_NOTE"
folder: "d16742818e07923e909e"
title: "LSTMs"
tags: []
content: '''
  # LSTMs
  
  Long Short-Term Memory models
'''
linesHighlighted: []
isStarred: false
isTrashed: false
