createdAt: "2020-10-22T22:25:35.221Z"
updatedAt: "2020-11-17T13:57:33.650Z"
type: "MARKDOWN_NOTE"
folder: "d16742818e07923e909e"
title: "Losses"
tags: []
content: '''
  # Losses
  
  # MSE
  Mean-Squared error
'''
linesHighlighted: []
isStarred: false
isTrashed: false
