createdAt: "2020-06-11T19:24:45.413Z"
updatedAt: "2020-08-10T14:10:33.471Z"
type: "MARKDOWN_NOTE"
folder: "a19e96ef50a1cd554380"
title: "Unit 03: Continuous functions"
tags: []
content: '''
  ## Unit 03: Continuous functions
  ![f3b0cf00.png](:storage/5c3b67d1-1325-4981-933e-746dda945513/f3b0cf00.png)
'''
linesHighlighted: []
isStarred: false
isTrashed: false
