createdAt: "2020-08-06T12:39:15.002Z"
updatedAt: "2020-08-06T12:39:30.992Z"
type: "MARKDOWN_NOTE"
folder: "a19e96ef50a1cd554380"
title: "Things useful for solving multiple integrals"
tags: []
content: '''
  ## Things useful for solving multiple integrals
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
