createdAt: "2020-06-05T16:53:57.700Z"
updatedAt: "2020-08-10T14:08:11.575Z"
type: "MARKDOWN_NOTE"
folder: "a19e96ef50a1cd554380"
title: "Unit 05: Differentiable functions"
tags: []
content: '''
  ## Unit 05: Differentiable functions
  
  Partial derivatives are not enough to satisfy the concept of differentiability. Whereas partial derivatives are closely related to cross-sections, differentiability can be closely related to linear approximation and tangent planes.
  
  First, let're recall what it takes for a function in 1 dimension to be differentiable:
  
  ![d8be05e1.png](:storage/fbfdbff0-5406-4dfd-94b7-7a037144c193/d8be05e1.png)
  
  Now, contrast this with the very similar definition in multiple definitions:
  
  ![33123211.png](:storage/fbfdbff0-5406-4dfd-94b7-7a037144c193/33123211.png)
  
  So you see that they both involve good linear approximations. For the mult-variate case, there's a cool little theorem here that lets us grab the values of the partial derivatives at the limit point, if we already have the linear approximation:
  
  ![cf60c41c.png](:storage/fbfdbff0-5406-4dfd-94b7-7a037144c193/cf60c41c.png)
  
  !!! danger Differentiability common error
  For there to be a linear approximation, both partial derivatives must exist at $(a, b)$. However, **both partial derivatives existing does not guarantee that the function is differentiable at $(a,b)$.** So existance is necessary, but not sufficient.
  !!!
  
  Additionally, you can think of differentiability as "is the tangent plane a good approximation for the function, and does the error get smaller and smaller as we approach the limit point?".
  
  ### A better definition for the tangent plane:
  
  ![1b6a1784.png](:storage/fbfdbff0-5406-4dfd-94b7-7a037144c193/1b6a1784.png)
  
  And now we have an important theorem, proved by the Mean Value Theorem:
  
  ![96224ba6.png](:storage/fbfdbff0-5406-4dfd-94b7-7a037144c193/96224ba6.png)
  
  Importantly, the converse is not correct. If $f(x,y)$ is differentiable at $(a,b)$, that does not imply that $f_x$ and $f_y$ are both continuous at (a,b).
  
  These implications can get pretty confusing, so here is a diagram:
  
  ![47cef943.png](:storage/fbfdbff0-5406-4dfd-94b7-7a037144c193/47cef943.png)
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
