createdAt: "2020-10-22T12:27:26.196Z"
updatedAt: "2020-10-22T12:27:30.802Z"
type: "MARKDOWN_NOTE"
folder: "d16742818e07923e909e"
title: "YOLO"
tags: []
content: "# YOLO"
linesHighlighted: []
isStarred: false
isTrashed: false
