createdAt: "2019-11-13T17:29:43.474Z"
updatedAt: "2019-11-13T17:30:59.579Z"
type: "MARKDOWN_NOTE"
folder: "13f1477d1dab07e879ca"
title: "Tutorial 10: Model View Controller (MVC)"
tags: []
content: '''
  ### Tutorial 10: Model View Controller (MVC)
  
  
'''
linesHighlighted: []
isStarred: false
isTrashed: false
